# Data folder
[dD][aA][tT][aA]/

# Components, versions may have been updated
# Components/

# Derived data
DerivedData/
Project/DerivedData/

# Libraries, the apple silicon obj file lib4d-arm64.dylib too large
Libraries/

# Logs, unique to developer
Logs/

# Plugins, versions may have been updated
# Plugins/

# Resources
Resources/Cache
Resources/php.ini

# Settings, these have machine specific paths
Settings/*

# User preferences
userPreferences.*/
userPreferences.MelvinBohince/

# Built application
*.4DZ

# Backup stuff
backupHistory.json
_backups/
_logfile/



# Uncomment (remove the following # ) to ignore Trash
 Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db

*.4BK

Project/Sources/settings.4DSettings
*.journal
